.crear-recetas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.crear-recetas h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.crear-recetas__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ae38fc;
}

.crear-recetas__label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.crear-recetas__input,
.crear-recetas__textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.crear-recetas__input:focus,
.crear-recetas__textarea:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.botones-crear-receta {
  margin-top: 12px;
}
.botones-crear-receta button{
  background-color: #4CAF50;
}
.botones-crear-receta button:hover{
  background-color: #3e8e41;
}
.crear-recetas__form label{
  margin-top: 10px;
}
#fechaLable{
  margin: 0 0 10px 0;
}